*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0e1418;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    position: relative;
}
span{
    width: 100%;
    /* background-color: rgb(33, 37, 41); */
    background-color: aliceblue;
    height: 2px;
}

